{% extends "blog/base.html" %}

{% load static  %}

{% block title %}Archivo{% endblock %}

{% block content %}

    <div class="archive">
    
        {% url 'blog:home' as my_url_context_var %}
        {% include "blog/navbar.html" with back=my_url_context_var only %}

        <div class="archive-content"> 
            {% for date,posts in archive.items %}
                <section class="articles-by-month">
                    <h2>{{ date }}</h2>
                    <ul class="article-wrapper">
                        {% for post in posts  %}
                            <li class="article-item">
                                <a href="{% url 'blog:home' %}#{{post.id}}">
                                    {% if post.image %}
                                        <img class="article-view" src="{{ post.image.url }}" alt="{{ post.title }}">     
                                    {% else %}
                                        <div class="article-view" style='background-color:{{ post.background_color|cut:"''" }};'>
                                    {% endif %}
                                    <div class="article-view article-filter">
                                        <div>
                                            <p>{{ post.created|date:"l d " }}</p>
                                            <p>{{ post.title }}</p>
                                        </div>
                                    </div>
                                </a>
                            </li>             
                        {% endfor %}      
                    </ul>
                </section>   
            {% endfor %}
        <div>

    </div>

{% endblock content %}