{% extends "blog/base.html" %}

{% load static  %}

{% block title %}Archivo{% endblock %}

{% block content %}
    <div class="archive">
        <nav class="archive-menu">
            <ul>
                <li class="menu-left-container">
                    <a href="#">
                        <svg width="16" height="25" viewBox="0 0 16 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16 22.0625L6.11066 12.5L16 2.9375L12.9555 -9.79181e-08L1.16474e-06 12.5L12.9555 25L16 22.0625Z" fill="#7D7C7C"/>
                        </svg>
                    </a>
                </li>
                <li class="menu-middle-container"><h1>Archivo</h1></li>
                <li class="menu-right-container">
                    <a href="#">
                        <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.7356 18.2513H19.4272L18.9635 17.8042C22.839 13.2828 22.3256 6.47584 17.8042 2.60036C13.2828 -1.27512 6.47584 -0.761707 2.60036 3.75969C-1.27512 8.28108 -0.761707 15.088 3.75969 18.9635C7.80079 22.4249 13.7631 22.4249 17.8042 18.9635L18.2513 19.4272V20.7356L26.5323 29L29 26.5323L20.7356 18.2513ZM10.7985 18.2513C6.67458 18.2513 3.34564 14.9224 3.34564 10.7985C3.34564 6.67458 6.67458 3.34564 10.7985 3.34564C14.9224 3.34564 18.2513 6.67458 18.2513 10.7985C18.2513 14.9058 14.9224 18.2513 10.8151 18.2513H10.7985Z" fill="#2B3C31"/>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="archive-content">
            <section class="articles-by-month">
                <h2 >Diciembre 2020</h2>
                <ul class="article-wrapper">
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                            <div class="article-view article-filter">
                                <div>
                                    <p>Martes 24</p>
                                    <p>Flores de Vangoh</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back3.jpeg' %}">
                            <div class="article-view article-filter">
                                <div>
                                    <p>Lunes 23</p>
                                    <p>La comarca</p>
                                </div>
                            </div>
                        </a>
                    </li>     
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back6.jpg' %}">
                            <div class="article-view article-filter">
                                <div>
                                    <p>Sabado 13</p>
                                    <p>Bjork en su estado mas puro</p>
                                </div>
                            </div>
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>     
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>     
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>     
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back2.jpeg' %}">
                        </a>
                    </li>              
                </ul>
            </section>
            <section class="articles-by-month">
                <h2 >Noviembre 2020</h2>
                <ul class="article-wrapper">
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back3.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back3.jpeg' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back3.jpeg' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back3.jpeg' %}">
                        </a>
                    </li>   
                </ul>
            </section>
            
            <section class="articles-by-month">
                <h2 >Octubre 2020</h2>
                <ul class="article-wrapper">
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li> 
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>  
                    <li class="article-item">
                        <a href="{% url 'blog:home' %}">
                            <img class="article-view" src="{% static 'images/back4.webp' %}">
                        </a>
                    </li>                    
            </section>
            
            {% for date,posts in archive.items %}
                    {{date}}
                    
                    {% for post in posts %}
                        {{post}}
                    {% endfor %}
                        
                    
                
            {% endfor %}
                
        <div>
    </div>
{% endblock content %}